$align: left;
$bg-color: #5ffd;
$color-01: #d65;
$color-02: #9089;
$color-03: #910;
$color-04: #2d2;
$color-default: #4554;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.5rem;
$font-normal: 2.0rem;
$font-small: 1.0rem;
$mb: 2.0rem;
$mt: 2.0rem;
$mt-02: 3.5rem;
$space-default: 1.5rem;